<!doctype html>

<html lang="en">
<head>
  	<meta charset="utf-8">

  	<title>The HTML5 Herald</title>
  	<meta name="description" content="The HTML5 Herald">
  	<meta name="author" content="SitePoint">

  	<link rel="stylesheet" href="static/styles.css">

	<link href="https://fonts.googleapis.com/comss?family=Shadows+Into+Light+Two" rel="stylesheet">

	<script
  	src="https://code.jquery.com/jquery-3.3.1.js"
  	integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  	crossorigin="anonymous"></script>

  	<script src="/static/chat.js"></script>
</head>

<body>
	<div class="title-head">
		<h1> Welcome to Lucy's Chat App. You are welcome to do anything, just please don't crash the server</h1>
	</div>

	<div id="send-message" src="/chatapp.db">
	</div>
	<form method="POST">
		<input type="text" name = "text">
		<button id="target"> 
			Send
		</button>

</body>
</html>
